.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.header__logo {
  font-size: var(--size-xl);
  color: var(--clr-slate200);
}

.header__menu {
  display: none;
}

.header__container {
  display: none;
}

.header__bars {
  display: block;
  fill: var(--clr-slate200);
  width: var(--size-3xl);
  height: var(--size-3xl);
}

/* xs */
/* @media (min-width: 475px) {
} */

/* sm */
/* @media (min-width: 640px) {
} */

/* md */
@media (min-width: 768px) {
  .header {
    justify-content: space-around;
  }

  .header__menu {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 0 0 4rem;
    gap: 2em;
  }

  .header__logo {
    font-size: var(--size-xl);
  }

  .header__link {
    font-size: var(--size-xs);
    text-decoration: none;
    font-weight: 600;
    color: var(--clr-slate200);
    letter-spacing: -0.05em;
    transition: color 0.3s;
  }

  .header__link:hover {
    color: var(--clr-rose);
  }

  .header__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .header__line {
    border: 1px solid var(--clr-slate200);
    padding-top: 1.5em;
  }

  .header__sun {
    display: block;
    color: var(--clr-slate200);
    width: var(--size-xl);
    height: var(--size-xl);
    transition: transform 3s ease;
  }

  .header__sun:hover {
    transform: rotate(180deg);
  }

  .header__resume {
    font-size: var(--size-xs);
  }

  .header__bars {
    display: none;
  }
}

/* lg */
@media (min-width: 1024px) {
  .header__logo {
    font-size: var(--size-2xl);
  }

  .header__link {
    font-size: var(--size-sm);
  }

  .header__sun {
    width: var(--size-2xl);
    height: var(--size-2xl);
  }

  .header__resume {
    font-size: var(--size-sm);
  }
}

/* xl */
/* @media (min-width: 1280px) {
} */

/* 2xl */
/* @media (min-width: 1536px) {
} */
