.hero {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-top: 5.8rem;
  animation: hero-drop 1s ease-in-out;
}

@keyframes hero-drop {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.hero__img {
  border-radius: 60% 40% 40% 60% / 60% 40% 60% 40%;
  width: 6rem;
  height: 6rem;
  animation: flow 4s infinite ease-in-out;
  box-shadow: 0 10px 20px rgba(92, 126, 230, 0.5),
    0 6px 6px rgba(92, 126, 230, 0.5), 0 0 100px -10px var(--clr-purple);
}

@keyframes flow {
  0% {
    border-radius: 60% 40% 40% 60% / 60% 40% 60% 40%;
  }
  35% {
    border-radius: 80% 70% 60% 60% / 80% 70% 60% 60%;
  }
  70% {
    border-radius: 70% 90% 60% 70% / 80% 90% 50% 90%;
  }
  100% {
    border-radius: 60% 40% 40% 60% / 60% 40% 60% 40%;
  }
}

.hero__subtitle-wrapper {
  position: relative;
}

.hero__subtitle {
  color: var(--clr-slate200);
  font-size: var(--size-base);
  line-height: 0.9;
}

.hero__marker {
  position: absolute;
  width: 4.5rem;
  height: auto;
  top: -1.2rem;
  right: -1rem;
}

.hero__title {
  color: var(--clr-slate400);
  text-transform: uppercase;
  font-size: var(--size-4xl);
  letter-spacing: -0.05em;
  line-height: 0.9;

  background: linear-gradient(
    to right,
    rgba(92, 126, 230, 0.5) 0%,
    #5c7ee6 30% 70%,
    rgba(92, 126, 230, 0.5) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  /* for firefox */
  /* text-fill-color: transparent; */
}

.hero__description {
  max-width: 60ch;
  font-size: var(--size-sm);
  color: var(--clr-slate400);
}

.hero__btn-wrapper {
  margin-top: 0.5rem;
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.hero__btn {
  text-transform: capitalize;
  font-size: var(--size-sm);
  width: 100%;
}

/* xs */
@media (min-width: 475px) {
  .hero {
    gap: 1.5rem;
  }

  .hero__img {
    width: 6.5rem;
    height: 6.5rem;
  }

  .hero__subtitle {
    font-size: var(--size-lg);
  }

  .hero__title {
    font-size: var(--size-5xl);
  }

  .hero__description {
    font-size: var(--size-base);
  }

  .hero__btn-wrapper {
    width: 30%;
  }

  .hero__btn {
    font-size: var(--size-base);
  }
}

/* sm */
@media (min-width: 640px) {
  .hero__marker {
    width: 5.5rem;
    top: -1.5rem;
    right: -1.5rem;
  }
}

/* md */
@media (min-width: 768px) {
  .hero__btn-wrapper {
    width: 45%;
    flex-direction: row;
    gap: 1.5rem;
  }
}

/* lg */
@media (min-width: 1024px) {
  .hero__img {
    width: 8rem;
    height: 8rem;
  }

  .hero__subtitle {
    font-size: var(--size-2xl);
  }

  .hero__marker {
    width: 6.5rem;
    top: -1.6rem;
    right: -1.5rem;
  }

  .hero__title {
    font-size: var(--size-6xl);
  }

  .hero__description {
    font-size: var(--size-lg);
  }

  .hero__btn {
    font-size: var(--size-lg);
  }
}

/* xl */
@media (min-width: 1280px) {
  .hero {
    gap: 2rem;
  }

  .hero__img {
    width: 10rem;
    height: 10rem;
  }

  .hero__subtitle {
    font-size: var(--size-4xl);
  }

  .hero__marker {
    width: 9.5rem;
    top: -2.3rem;
    right: -2rem;
  }

  .hero__title {
    font-size: var(--size-7xl);
  }

  .hero__description {
    font-size: var(--size-xl);
  }

  .hero__btn-wrapper {
    margin-top: 0;
    width: 30%;
    gap: 1.5rem;
  }

  .hero__btn {
    font-size: var(--size-xl);
  }
}

/* 2xl */
/* @media (min-width: 1536px) {
} */
