.loader {
  position: fixed;
  /* inset: 0; */
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 1000;
  background-color: var(--clr-dark);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 120vh;
  width: 200%;
  border-radius: 50%;
  transition: visibility 1.5s ease, transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.loader__wrapper {
  width: 20rem;
  font-weight: 700;
}

.loader__text {
  fill: var(--clr-dark);
  font-size: var(--size-5xl);
  letter-spacing: -6px;
  stroke-width: 2;
  stroke: var(--clr-azureRadiance);
  animation: 3s infinite alternate animate-stroke;
}

@keyframes animate-stroke {
  0% {
    fill: transparent;
    stroke: var(--clr-azureRadiance);
    stroke-width: 3;
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 32%;
  }
  50% {
    fill: transparent;
    stroke: var(--clr-azureRadiance);
    stroke-width: 3;
  }
  80% {
    fill: var(--clr-azureRadiance);
    stroke: transparent;
    stroke-width: 0;
    stroke-dashoffset: -25%;
    stroke-dasharray: 32% 0;
  }
}

.loader.hidden {
  visibility: hidden;
  transform: translate3d(0, -100%, 0);
}

/* xs */
/* @media (min-width: 475px) {
} */

/* sm */
@media (min-width: 640px) {
  .loader__text {
    font-size: var(--size-6xl);
  }
}

/* md */
/* @media (min-width: 768px) {
} */

/* lg */
@media (min-width: 1024px) {
  .loader__text {
    font-size: var(--size-7xl);
  }
}

/* xl */
/* @media (min-width: 1280px) {
} */

/* 2xl */
/* @media (min-width: 1536px) {
} */
