/* xs */
/* @media (min-width: 475px) {
} */

/* sm */
/* @media (min-width: 640px) {
} */

/* md */
/* @media (min-width: 768px) {
} */

/* lg */
/* @media (min-width: 1024px) {
} */

/* xl */
/* @media (min-width: 1280px) {
} */

/* 2xl */
/* @media (min-width: 1536px) {
} */

.light-mode {
  --clr-light: #070a13;
  --clr-dark: #f1f4fd;
  --clr-slate200: #1e293b;
  --clr-slate400: #1e293b;
  --clr-slate600: #1e293b;
  --clr-slate800: #1e293b;
  --clr-azureRadiance: #9dbbf3;
  --clr-card: #fff;
}

.btn {
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: -0.05em;
  background-color: var(--clr-azureRadiance);
  color: #070a13;
  padding: 0.5em 1em;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(92, 126, 230, 0.5),
    0 0 100px -10px var(--clr-azureRadiance);

  transition: transform 0.3s, box-shadow 0.3s;
}

.btn:hover {
  transform: translate(0px, -3px) scale(0.95);
  box-shadow: 0 14px 28px rgba(92, 126, 230, 0.5),
    0 0 120px -10px var(--clr-azureRadiance);
}

.btn2 {
  display: inline-block;
  font-weight: 600;
  text-decoration: none;
  letter-spacing: -0.05em;
  background-color: inherit;
  color: #5c7ee6;
  border: 2px solid #5c7ee6;
  padding: calc(0.5em + 1px) 1em;
  border-radius: 6px;
  box-shadow: 0 10px 20px rgba(92, 126, 230, 0.5), 0 0 100px -10px #5c7ee6;

  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  transition: transform 0.3s, box-shadow 0.3s;
}

.btn2:hover {
  transform: translate(0px, -3px) scale(0.95);
  box-shadow: 0 14px 28px rgba(92, 126, 230, 0.5), 0 0 120px -10px #5c7ee6;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.nav {
  width: 90%;
  padding-left: 0.9rem;
  padding-right: 0.9rem;
}

.section {
  margin-top: 5rem;
}

.scroll-up {
  top: 1rem;
  transition: top 1s;
}

.scroll-down {
  top: -10rem;
  transition: top 1s;
}

/* xs */
@media (min-width: 475px) {
  .container {
    max-width: 475px;
  }
}

/* sm */
@media (min-width: 640px) {
  .container {
    max-width: 475px;
  }
}

/* md */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .nav {
    width: 80%;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/* lg */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .section {
    margin-top: 10rem;
  }
}

/* xl */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
